DATABASE_URL=postgres://myusername:mypassword@localhost:5432/mydatabase
DJANGO_SECRET_KEY=key
DJANGO_SETTINGS_MODULE=config.settings
CSRF_TRUSTED_ORIGINS=https://api.emberarchive.org

ALLOWED_HOSTS=emberarchive.org,api.emberarchive.org,localhost,127.0.0.1
